@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon__wrapper{
    @apply border border-gray-400 rounded-full w-[50px] h-[50px] grid place-items-center text-[22px]
  }
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
    line-height: 1.3;
  }
  table {
  }
  th,
  td {
    @apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
  }
  thead {
    @apply bg-neutral-100;
  }
  th {
    @apply font-semibold;
  }
  a {
    @apply text-sky-500 hover:underline;
  }
}
